{% extends "../templates/base.html" %}

{% block title %}
Roadmaps | "Hello, World!" from David
{% endblock %}

{% block header_content %}
<h1>Roadmaps</h1>
{% endblock %}

{% block content_content %}
<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Future</li>
    <li>
        <h3>developers.android.com</h3>
        <p><strong>archive accessed pages, do NOT fetch by access</strong></p>
    </li>
    <li>
        <h3>Roadmaps</h3>
        <p><strong>trac milestone like system</strong></p>
    </li>
    <li>
        <h3>Website Architecture</h3>
        <p><strong>devide mobile/normal</strong></p>
    </li>
    <li>
        <h3>Codebase</h3>
        <p><strong>setup code base with some version control tools</strong></p>
    </li>
    <li data-role="list-divider">Nov. 19, 2010</li>
    <li>
        <h3>Roadmaps</h3>
        <p>simple roadmap views.</p>
        <p class="ui-li-aside"><strong>12:06</strong>PM, <strong>v0.1</strong></p>
    </li>
    <li>
        <h3>developers.android.com</h3>
        <p>developers.android.com mirror.</p>
        <p class="ui-li-aside"><strong>3:21</strong>AM, <strong>v0.1</strong></p>
    </li>
    <li data-role="list-divider">Nov. 18, 2010</li>
    <li>
        <h3>Website Architecture</h3>
        <p>implement simple django-like architecture</p>
        <p class="ui-li-aside"><strong>11:48</strong>PM, <strong>v0.1</strong></p>
    </li>
    <li data-role="list-divider">Nov. 10, 2010</li>
    <li>
        <h3>Guestbook</h3>
        <p>implement simple guestbook system</p>
        <p class="ui-li-aside"><strong>9:41</strong>PM, <strong>v0.0</strong></p>
    </li>
    <li>
        <h3>Codebase</h3>
        <p>initial setup</p>
        <p class="ui-li-aside"><strong>6:33</strong>PM, <strong>v0.0</strong></p>
    </li>
</ul>
{% endblock %}
